/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-dark: #0F3557;
    --global-color-light: #CCE7FF;

    --global-background-color: var(--global-color-light);
    --global-font-color: var(--global-color-dark);

    /* opacity */
    --global-opacity: 0.6;

    /* transitions */

    --global-baseline: 8px;
    --global-width: calc(var(--global-baseline) * 58);
    --global-padding: calc(var(--global-baseline) * 4);
    --globam-margin: calc(var(--global-baseline) * 4.25);
    --global-font-size: calc(var(--global-baseline) * 3.5);
    --global-line-height: calc(var(--global-baseline) * 5);

    --global-logo-font-size: calc(var(--global-baseline) * 2);
    --global-logo-font-weight: 400;
    --global-logo-line-height: calc(var(--global-baseline) * 2);
    --global-logo-size: calc(var(--global-baseline) * 2.75);

    --global-margin-bottom: calc(var(--global-baseline)* 4.25);
}

/* 
@media (prefers-color-scheme: dark) {
    :root{
        --global-background-color: var(--global-color-dark);
        --global-font-color: var(--global-color-light);
    }
}
*/


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Work Sans', sans-serif;
    font-feature-settings: "zero" 1; 
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--global-background-color);
    color: var(--global-font-color);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: red;
    color: white;
    text-shadow: none;
}

::selection {
    background: red;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    font-size: var(--global-logo-font-size);
    font-weight: var(--global-logo-font-weight);
    line-height: var(--global-logo-line-height);
    
    display: flex;
    align-items: center;
}

/*
    Component: Sun
    ---
    The sun
*/

.c-sun {
    width: var(--global-logo-size);
    height: var(--global-logo-size);
    margin-right: var(--global-baseline);
}

.c-logo .c-sun {

}

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
    max-width: var(--global-width);
    margin: auto;
    padding: var(--global-padding);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.c-app__summary {
    font-size: var(--global-font-size);
    line-height: var(--global-line-height);
}

/*
    Component: Horizon
    ---
    Horizon with sun visualisation
*/

.c-horizon {
    margin-top: auto;
}

.c-horizon__line {
    border-top: 1px solid var(--global-color-dark);    
    display: flex;
    justify-content: space-between;
}

.c-horizon__time {
    margin-bottom: var(--global-margin-bottom);
}

.c-horizon__sky-wrapper {
    position: relative;
    height: 200px;
    overflow: hidden;
    padding-top: 22px;
    padding-right: 44px;
}

.c-horizon__sky {
    position: relative;
    height: 100%;
}

.c-horizon__sun {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44px;
    transform: translateY(22px);
}

.c-horizon__sun::before{
    line-height: 14px;
    content: attr(data-time);
    display: block;
    margin-bottom: var(--global-baseline);
    text-align: center;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

.u-muted {
    opacity: var(--global-opacity);
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

.is-night {
    --global-font-color: var(--global-color-light);
    --global-background-color: var(--global-color-dark);
 }

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
